<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../static/fonts1/icomoon/style.css">

    <link rel="stylesheet" href="../../static/css1/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css1/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="../../static/css1/style.css">

    <title>Login #3</title>
  </head>
  <body>
  

  <div class="half">
    <div class="bg order-1 order-md-2" style="background-image: url('../../static/images1/bg_1.jpg');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6">
            <div class="form-block">
              <div class="text-center mb-5">
              <h3>Register to <strong>Girls Day</strong></h3>
              <!-- <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p> -->
              </div>
              {% if messages %}
        {% for message in messages %}
        <br>
        <br>
        <div class="text-center" style="color: #8796ac;"><div><h6>{{ message }} </h6></div></div>
        {% endfor %}
        {% endif %}
              <form action="#" method="post">{% csrf_token %}
                <div class="form-group first">
                  <label for="username">Username</label>
                  <input type="text" name="username" id="username" class="form-control" placeholder="Your Username">
                </div>
                <div class="form-group first">
                  <label for="username">Email</label>
                  <input type="text" name="email" id="email" class="form-control" placeholder="Your Email">
                </div>
                <div class="form-group last mb-3">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" class="form-control" placeholder="Your Password" >
                </div>
                <div class="form-group last mb-3">
                  <label for="password">Confirm Password</label>
                  <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm Password" >
                </div>
                <div class="form-group first">
                  <label for="username">Phone Number</label>
                  <input type="text" name="phone_field" id="phone_field" class="form-control" placeholder="Your Phone Number">
                </div>
                
                <div class="d-sm-flex mb-5 align-items-center">
                <!---  <label class="control control--checkbox mb-3 mb-sm-0"><span class="caption">Remember me</span>
                    <input type="checkbox" checked="checked"/>
                    <div class="control__indicator"></div>
                  </label>--->
                  <span class="ml-auto"><a href="{% url 'user_login'%} " class="forgot-pass">Do have an account?</a></span> 
                  <span class="ml-auto"><a href="{% url 'index' %}" class="forgot-pass">Inner Page Home</a></span> 
                </div>

                <input type="submit" style="border-color: #7d8ba1; background-color:#7d8ba1;" value="Register" class="btn btn-block btn-primary">

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>
    
    

    <script src="../../static/js1/jquery-3.3.1.min.js"></script>
    <script src="../../static/js1/popper.min.js"></script>
    <script src="../../static/js1/bootstrap.min.js"></script>
    <script src="../../static/js1/main.js"></script>
  </body>
</html>